.logo {

}


.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    
    background: hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(1rem);
}

.primary-navigation a {
    text-decoration: none;

}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.75em;
}


@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        flex-direction: column;
        padding: min(30vh, 8rem) 2.5em;
    }

    .mobile-nav-toggle {
        position: absolute;
        background: url('../images/menu.png');
        background-position: center;
        background-size: contain;
        width: 2rem;
        aspect-ratio: 1;
        top: 3rem;
        right: 3rem;
        z-index: 9999;
        background-repeat: no-repeat;
        display: block;
    }
}





.vargap {
    gap: var(--gap, 1rem);
}